body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box; 
}

.right-section {
  display: flex;
  gap: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px; 
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box; 
  position: fixed;
  bottom: 0;
  left: 0;
}

.landing-carousel img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

button {
    border-radius: 6px;
    border: none;
    background-color: #379d80;
    color: #ffffff;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 10px;
    letter-spacing: -.5px;
    cursor: pointer;
}

button:hover {
  background-color: #157258;
}


.google-btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  background-color: #4285f4;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.google-btn:hover {
  background-color: #3367d6;
}